{% extends 'layout.html' %}

{% block content %}
<h2>Manage User</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Picture</th>
      <th scope="col">User Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      

    </tr>
  </thead>
  <tbody>
  {% for user in users  %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td><img class="rounded-circle account-img" src="{{ user.profile.image.url }}"></td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      
      <td>
        <form action="/deleteAccount/{{user.id}}" method="post" >
          {% csrf_token %} 
          <a>
          <!-- <a href="/deleteAccount/{{user.id}}"  > -->
          <button type="submit" class="btn btn-danger" name='id' value={{user.id}} >Delete Account</button>
          </a>
        </form>
      </td>
      

      

    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}